In [275]:
from pymongo import MongoClient
from bs4 import BeautifulSoup
import requests
import pandas as pd

client = MongoClient('localhost', 27017)
yelp = client['yelp']
restaurants = yelp['restaurants']
processed = yelp['processed']
users = yelp['users']

In [276]:
restaurants_df = pd.DataFrame(list(restaurants.find()))
restaurants_df

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol,description
0,5e4da0fa3296483cf9246cdd,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/biz/atlas-tap-room-san-fr...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only,We specialize in serving craft brews and wines...
1,5e4da15f3296483cf9246cde,Fog Harbor Fish House,https://s3-media0.fl.yelpcdn.com/bphoto/Lv7tIR...,https://www.yelp.com/biz/fog-harbor-fish-house...,2.0,4.0,6006,(415) 421-2442,Pier 39,Fisherman's Wharf,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Full Bar,"Award winning view of the Golden Gate Bridge, ..."
2,5e4da21d3296483cf9246cdf,The House,https://s3-media0.fl.yelpcdn.com/bphoto/UzrNIk...,https://www.yelp.com/biz/the-house-san-francis...,3.0,4.5,4821,(415) 986-8612,1230 Grant Ave,North Beach/Telegraph Hill,...,NaN,NaN,0.0,NaN,Dinner,0.0,NaN,Average,Beer & Wine Only,
3,5e4da2bc3296483cf9246ce0,Marufuku Ramen SF,https://s3-media0.fl.yelpcdn.com/bphoto/2lUFO5...,https://www.yelp.com/biz/marufuku-ramen-sf-san...,2.0,4.5,2918,(415) 872-9786,Located in Japan Center,Lower Pacific Heights,...,NaN,NaN,1.0,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
4,5e4da37a3296483cf9246ce1,Zazie,https://s3-media0.fl.yelpcdn.com/bphoto/uuRvEU...,https://www.yelp.com/biz/zazie-san-francisco?o...,2.0,4.0,4371,(415) 564-5332,941 Cole St,Cole Valley,...,NaN,NaN,NaN,NaN,"Breakfast, Brunch",1.0,NaN,Average,Beer & Wine Only,"Zazie serves brunch and dinner daily, every da..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,5e55b93c3296483cf92470aa,Eat Americana,https://s3-media0.fl.yelpcdn.com/bphoto/gvxYuc...,https://www.yelp.com/biz/eat-americana-san-fra...,2.0,4.5,261,(415) 387-2893,3532 Balboa St,Outer Richmond,...,NaN,NaN,1.0,NaN,"Breakfast, Brunch, Lunch, Dinner, Dessert",1.0,NaN,Average,Beer & Wine Only,The Chef of Rickybobby and Broken Record from ...
859,5e55ba003296483cf92470ab,After Hours,https://s3-media0.fl.yelpcdn.com/bphoto/pNgS79...,https://www.yelp.com/biz/after-hours-san-franc...,2.0,4.5,110,(415) 890-4618,3044 Taraval St,Parkside,...,0.0,0.0,1.0,0.0,Dinner,1.0,1.0,None,Beer & Wine Only,Neighborhood sports bar with specialty wings. ...
860,5e55bb3e3296483cf92470ac,KKOCHI Grilled Korean BBQ,https://s3-media0.fl.yelpcdn.com/bphoto/zIBtTU...,https://www.yelp.com/biz/kkochi-grilled-korean...,2.0,4.5,107,(415) 834-5820,704 Post St,Lower Nob Hill,...,NaN,NaN,1.0,NaN,No,0.0,NaN,Average,No,"To our neighbors and guests, we welcome you to..."
861,5e55bbc53296483cf92470ad,The Dark Horse Inn,https://s3-media0.fl.yelpcdn.com/bphoto/BuvWZo...,https://www.yelp.com/biz/the-dark-horse-inn-sa...,2.0,4.5,312,(415) 469-5508,942 Geneva Ave,Crocker-Amazon,...,0.0,NaN,1.0,0.0,Dinner,1.0,NaN,Average,Full Bar,"Local & craft beer, wine and cocktails; season..."
862,5e55bed03296483cf92470ae,Native Sons BBQ,https://s3-media0.fl.yelpcdn.com/bphoto/c4DWXT...,https://www.yelp.com/biz/native-sons-bbq-san-f...,2.0,4.5,32,None,None,Bayview-Hunters Point,...,NaN,NaN,1.0,NaN,Dinner,1.0,NaN,Average,Beer & Wine Only,We are a duo of native San Franciscans bringin...

In [197]:
restaurants_df.to_csv('data/restaurants.csv', ",")

In [277]:
restaurants_df[restaurants_df.duplicated(['title'])]

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol,description
825,5e559e6c3296483cf9247089,Begoni Bistro,https://s3-media0.fl.yelpcdn.com/bphoto/To4gBw...,https://www.yelp.com/biz/begoni-bistro-san-fra...,2.0,4.0,761,(415) 757-0120,615 Jackson St,Chinatown,...,NaN,0.0,NaN,0.0,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
827,5e559f7c3296483cf924708b,Ap’s Cafe,https://s3-media0.fl.yelpcdn.com/bphoto/r4RNaX...,https://www.yelp.com/biz/aps-cafe-san-francisc...,NaN,5.0,7,(415) 642-1316,4108 24th St,Noe Valley,...,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,fresh pie and coffee
840,5e55ab343296483cf9247098,Ryoko’s,https://s3-media0.fl.yelpcdn.com/bphoto/Gp9yk0...,https://www.yelp.com/biz/ryokos-san-francisco?...,2.0,4.0,2979,(415) 775-1028,619 Taylor St,Lower Nob Hill,...,NaN,NaN,NaN,NaN,"Dinner, Late Night",1.0,NaN,Loud,Full Bar,Take a walk around the heart of downtown San F...
842,5e55acda3296483cf924709a,Thirsty Bear Brewing Company,https://s3-media0.fl.yelpcdn.com/bphoto/bvKA7d...,https://www.yelp.com/biz/thirsty-bear-brewing-...,2.0,3.5,1916,(415) 974-0905,661 Howard St,SoMa,...,NaN,NaN,NaN,NaN,Dinner,1.0,NaN,Average,Full Bar,"ThirstyBear Organic, Small Batch Beers Are Ava..."
844,5e55ae263296483cf924709c,Trademark,https://s3-media0.fl.yelpcdn.com/bphoto/TmilNm...,https://www.yelp.com/biz/trademark-san-francis...,2.0,4.0,243,(415) 738-8838,1123 Folsom St,SoMa,...,0.0,0.0,1.0,0.0,Late Night,1.0,NaN,Loud,Full Bar,"Trademark is a neighborhood sports bar, with p..."
846,5e55b0083296483cf924709e,Presidio Social Club,https://s3-media0.fl.yelpcdn.com/bphoto/qreErH...,https://www.yelp.com/biz/presidio-social-club-...,2.0,3.5,1177,(415) 885-1888,563 Ruger St,Presidio,...,0.0,0.0,1.0,NaN,Dinner,1.0,1.0,Average,Full Bar,The Presidio Social Club is open daily and all...
847,5e55b0ea3296483cf924709f,Ardiana,https://s3-media0.fl.yelpcdn.com/bphoto/fF3N0E...,https://www.yelp.com/biz/ardiana-san-francisco...,2.0,4.5,123,(415) 926-5962,1781 Church St,Noe Valley,...,NaN,NaN,1.0,NaN,Dinner,1.0,NaN,Average,Beer & Wine Only,Ardiana marries Italian and Mediterranean flav...
850,5e55b31a3296483cf92470a2,Hazel Southern Bar & Kitchen,https://s3-media0.fl.yelpcdn.com/bphoto/XkqzgL...,https://www.yelp.com/biz/hazel-southern-bar-an...,2.0,4.0,432,(415) 964-9644,1446 Market St,Civic Center,...,0.0,0.0,1.0,0.0,"Dinner, Late Night",1.0,1.0,Average,Full Bar,We provide simple but elegant comfort food. Wi...
852,5e55b4fb3296483cf92470a4,Eight AM,https://s3-media0.fl.yelpcdn.com/bphoto/IRxbVF...,https://www.yelp.com/biz/eight-am-san-francisc...,2.0,4.5,1286,(415) 292-4888,1323 Columbus Ave,Russian Hill,...,NaN,NaN,1.0,NaN,"Breakfast, Brunch, Lunch",1.0,NaN,Average,No,
853,5e55b5c33296483cf92470a5,Olea,https://s3-media0.fl.yelpcdn.com/bphoto/2v0SQU...,https://www.yelp.com/biz/olea-san-francisco?os...,2.0,4.0,918,(415) 202-8521,1494 California St,Nob Hill,...,NaN,NaN,NaN,NaN,Brunch,0.0,NaN,Average,Beer & Wine Only,Olea is an upscale casual neighborhood restaur...
854,5e55b6873296483cf92470a6,Super Duper Burgers,https://s3-media0.fl.yelpcdn.com/bphoto/qk9bMw...,https://www.yelp.com/biz/super-duper-burgers-s...,2.0,4.0,873,(415) 931-6258,2201 Chestnut St,Marina/Cow Hollow,...,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,"Fast food style 100% all-natural burgers, shak..."
855,5e55b6b43296483cf92470a7,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/adredir?ad_business_id=u1...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only,We specialize in serving craft brews and wines...

In [210]:
restaurants_condensed = pd.DataFrame({'title': restaurants_df['title'], 'reviewCount': restaurants_df['reviewCount']})
restaurants_condensed.sort_values(by=['reviewCount'], ascending=False, inplace=True)
restaurants_condensed

                         title  reviewCount
35   Brenda’s French Soul Food        10959
156      Tartine Bakery & Cafe         7853
131         House Of Prime Rib         7143
28                    San Tung         6815
23             Burma Superstar         6743
..                         ...          ...
428             The Mango Tree            8
325                 Dokkaebier            7
350               Son & Garden            5
370                     CreoLa            3
330                  Aroy Thai            3

[562 rows x 2 columns]

In [244]:
user_reviews_df = pd.DataFrame(list(users.find()))
user_reviews_df

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
0,5e4f3ec0113cd26d51aed4fd,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33,5.0,2/4/2020,this place is the best!!No matter which item I...,0,0,1
1,5e4f3ec0113cd26d51aed4fe,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN,3.0,12/24/2019,"In town for a brief visit, this was the closes...",0,0,0
2,5e4f3ec0113cd26d51aed4ff,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN,2.0,12/21/2019,Second time here. Atmosphere was great to sta...,0,0,0
3,5e4f3ec0113cd26d51aed500,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519,2.0,,Came here to meet an old friend and had a very...,2,2,2
4,5e4f3ec0113cd26d51aed501,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5,5.0,2/17/2020,Came here for a late lunch/early dinner on our...,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199569,5e545656113cd26d51b1b747,iwaBpxdabHX9Bh4MHDQcnA,5e4e31173296483cf9246d5c,J-nine I.,https://www.yelp.com/user_details?userid=iwaBp...,San Bruno,CA,33,300,20,5.0,6/10/2009,My boss was given a gift card and decided to t...,0,0,1
199570,5e545656113cd26d51b1b748,jHmlmozty9ifc9qjkuHsoA,5e4e31173296483cf9246d5c,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN,4.0,7/18/2009,Came here with visiting friends at the end of ...,0,0,1
199571,5e545656113cd26d51b1b749,UNweIyUVO3Ln9SDPsCAXlA,5e4e31173296483cf9246d5c,Christie X.,https://www.yelp.com/user_details?userid=UNweI...,San Francisco,CA,94,318,4,3.0,1/1/2010,** Happy Hour Review Only **I walked in on Wed...,0,1,0
199572,5e545656113cd26d51b1b74a,9vABmjoaSliTpDjsxvYc_A,5e4e31173296483cf9246d5c,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN,5.0,3/31/2013,The Happy Hour made me very happy. All of the...,0,0,0
199573,5e545656113cd26d51b1b74b,4QKOO2MtsPuL_-wMTjKsLg,5e4e31173296483cf9246d5c,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4,5.0,3/17/2014,we had an absolutely awesome time! everyone wa...,0,0,1

In [107]:
from bson import ObjectId
user_reviews_df[user_reviews_df['restaurant_id'] == ObjectId('5e500cd33296483cf9246ec3')]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [278]:
user_reviews_df[user_reviews_df.duplicated(['review', 'name'])]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [279]:
user_att = ['userid', 'name', 'url', 'city', 'state', 'friends', 'reviews', 'photos']
user = {}
for att in user_att:
    user[att] = user_reviews_df[att]


users_df = pd.DataFrame(user)
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
199569,iwaBpxdabHX9Bh4MHDQcnA,J-nine I.,https://www.yelp.com/user_details?userid=iwaBp...,San Bruno,CA,33,300,20
199570,jHmlmozty9ifc9qjkuHsoA,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN
199571,UNweIyUVO3Ln9SDPsCAXlA,Christie X.,https://www.yelp.com/user_details?userid=UNweI...,San Francisco,CA,94,318,4
199572,9vABmjoaSliTpDjsxvYc_A,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN
199573,4QKOO2MtsPuL_-wMTjKsLg,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4

In [280]:
users_df[users_df.duplicated(['userid'])]

,userid,name,url,city,state,friends,reviews,photos
236,djxnI8Ux8ZYQJhiOQkrRhA,Abby S.,https://www.yelp.com/user_details?userid=djxnI...,Denver,CO,4028,2346,6677
434,lLfcbYGTeVxQN5Ig0ompJg,Elena N.,https://www.yelp.com/user_details?userid=lLfcb...,San Francisco,CA,1774,3198,13534
1246,gqDbe1YwS4EhuCCNSNhpxg,Elizabeth G.,https://www.yelp.com/user_details?userid=gqDbe...,San Francisco,CA,256,360,62
1926,wEE-YMx5pmSuagLtNxMPKA,Stephanie Y.,https://www.yelp.com/user_details?userid=wEE-Y...,Berkeley,CA,4936,1866,3659
2181,adKonsQWY64vJYglPotH5Q,Stefanie C.,https://www.yelp.com/user_details?userid=adKon...,Denver,CO,952,2225,1287
...,...,...,...,...,...,...,...,...
199560,xYB4vwPiFhxMHS0ctdpTig,Karin Z.,https://www.yelp.com/user_details?userid=xYB4v...,Seattle,WA,115,63,NaN
199564,p7PoKtHEQ0AeFxumvS8OMw,james m.,https://www.yelp.com/user_details?userid=p7PoK...,San Francisco,CA,287,15,6
199566,XGNn7SWgSgx0tqvKgRx1QQ,Anthony C.,https://www.yelp.com/user_details?userid=XGNn7...,San Francisco,CA,5,80,1
199569,iwaBpxdabHX9Bh4MHDQcnA,J-nine I.,https://www.yelp.com/user_details?userid=iwaBp...,San Bruno,CA,33,300,20
199571,UNweIyUVO3Ln9SDPsCAXlA,Christie X.,https://www.yelp.com/user_details?userid=UNweI...,San Francisco,CA,94,318,4

In [281]:
users_df.drop_duplicates(subset='userid', keep='first', inplace=True)

In [282]:
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
199567,DywjTlbCTkpAM_K_Suhngg,Jael J.,https://www.yelp.com/user_details?userid=DywjT...,Portland,OR,65,69,20
199568,Cbw1IKmtlycJeZgxLImcUQ,Fuzzysaurus L.,https://www.yelp.com/user_details?userid=Cbw1I...,San Carlos,CA,189,130,2
199570,jHmlmozty9ifc9qjkuHsoA,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN
199572,9vABmjoaSliTpDjsxvYc_A,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN
199573,4QKOO2MtsPuL_-wMTjKsLg,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4

In [283]:
reviews_att = ['userid', 'restaurant_id', 'review', 'date', 'stars', 'Useful', 'Funny', 'Cool']
reviews = {}
for att in reviews_att:
    reviews[att] = user_reviews_df[att]


reviews_df = pd.DataFrame(reviews)

In [284]:
reviews_df

,userid,restaurant_id,review,date,stars,Useful,Funny,Cool
0,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,this place is the best!!No matter which item I...,2/4/2020,5.0,0,0,1
1,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,"In town for a brief visit, this was the closes...",12/24/2019,3.0,0,0,0
2,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Second time here. Atmosphere was great to sta...,12/21/2019,2.0,0,0,0
3,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Came here to meet an old friend and had a very...,,2.0,2,2,2
4,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Came here for a late lunch/early dinner on our...,2/17/2020,5.0,0,0,1
...,...,...,...,...,...,...,...,...
199569,iwaBpxdabHX9Bh4MHDQcnA,5e4e31173296483cf9246d5c,My boss was given a gift card and decided to t...,6/10/2009,5.0,0,0,1
199570,jHmlmozty9ifc9qjkuHsoA,5e4e31173296483cf9246d5c,Came here with visiting friends at the end of ...,7/18/2009,4.0,0,0,1
199571,UNweIyUVO3Ln9SDPsCAXlA,5e4e31173296483cf9246d5c,** Happy Hour Review Only **I walked in on Wed...,1/1/2010,3.0,0,1,0
199572,9vABmjoaSliTpDjsxvYc_A,5e4e31173296483cf9246d5c,The Happy Hour made me very happy. All of the...,3/31/2013,5.0,0,0,0
199573,4QKOO2MtsPuL_-wMTjKsLg,5e4e31173296483cf9246d5c,we had an absolutely awesome time! everyone wa...,3/17/2014,5.0,0,0,1

In [237]:
reviews_df[reviews_df['stars'] == 0]['restaurant_id'].unique()

array([ObjectId('5e4de92f3296483cf9246d27'),
       ObjectId('5e4de9ec3296483cf9246d28'),
       ObjectId('5e4decec3296483cf9246d2a'),
       ObjectId('5e4ded6e3296483cf9246d2b'),
       ObjectId('5e4dee0e3296483cf9246d2c'),
       ObjectId('5e4dee903296483cf9246d2d'),
       ObjectId('5e4def133296483cf9246d2e'),
       ObjectId('5e4df00c3296483cf9246d2f'),
       ObjectId('5e4df10f3296483cf9246d30'),
       ObjectId('5e4df1373296483cf9246d31'),
       ObjectId('5e4df2123296483cf9246d32'),
       ObjectId('5e4df2ad3296483cf9246d33'),
       ObjectId('5e4df32f3296483cf9246d34'),
       ObjectId('5e4dfaba3296483cf9246d35'),
       ObjectId('5e4e11033296483cf9246d36'),
       ObjectId('5e4e11e03296483cf9246d37'),
       ObjectId('5e4e12d93296483cf9246d38'),
       ObjectId('5e4e13b63296483cf9246d39'),
       ObjectId('5e4e14753296483cf9246d3a'),
       ObjectId('5e4e14bb3296483cf9246d3b'),
       ObjectId('5e4e15413296483cf9246d3c'),
       ObjectId('5e4e16273296483cf9246d3e'),
       ObjectId('5e4e16e53296483cf9246d3f'),
       ObjectId('5e4e178a3296483cf9246d40'),
       ObjectId('5e4e18563296483cf9246d41'),
       ObjectId('5e4e18d83296483cf9246d42'),
       ObjectId('5e4e1a143296483cf9246d43')], dtype=object)

In [285]:
users_df.to_csv('data/users.csv', ",")
reviews_df.to_csv('data/reviews.csv', ",")