In [24]:
%run 'src/recommendations.py'

Recommender 1 Result:
---------------------------
Restaurant: Noosh
                               title  \
29                Kokkari Estiatorio
43                             Troya
53                            Souvla
97                            Barcha
190                    Oren’s Hummus
252                      Saffron 685
609                     Dunya Bistro
618               SAJJ Mediterranean
871            Zaytoon Mediterranean
956  Mangal Mediterranean Restaurant

                                             image_url  \
29   https://s3-media0.fl.yelpcdn.com/bphoto/7StMTf...
43   https://s3-media0.fl.yelpcdn.com/bphoto/MLHVzA...
53   https://s3-media0.fl.yelpcdn.com/bphoto/C5rrts...
97   https://s3-media0.fl.yelpcdn.com/bphoto/olP9gX...
190  https://s3-media0.fl.yelpcdn.com/bphoto/Vk621y...
252  https://s3-media0.fl.yelpcdn.com/bphoto/ON-4HJ...
609  https://s3-media0.fl.yelpcdn.com/bphoto/Kr918C...
618  https://s3-media0.fl.yelpcdn.com/bphoto/lzDp2t...
871  https://s3-media0.fl.yelpcdn.com/bphoto/iCLmMi...
956  https://s3-media0.fl.yelpcdn.com/bphoto/s8p3cm...

                                                   url  price  stars  \
29   https://www.yelp.com/biz/kokkari-estiatorio-sa...    3.0    4.5
43   https://www.yelp.com/biz/troya-san-francisco-3...    2.0    4.0
53   https://www.yelp.com/biz/souvla-san-francisco?...    2.0    4.0
97   https://www.yelp.com/biz/barcha-san-francisco?...    2.0    4.0
190  https://www.yelp.com/biz/orens-hummus-san-fran...    2.0    4.0
252  https://www.yelp.com/biz/saffron-685-san-franc...    2.0    4.0
609  https://www.yelp.com/biz/dunya-bistro-san-fran...    2.0    4.0
618  https://www.yelp.com/biz/sajj-mediterranean-sa...    2.0    4.0
871  https://www.yelp.com/biz/zaytoon-mediterranean...    2.0    4.0
956  https://www.yelp.com/biz/mangal-mediterranean-...    2.0    4.5

                              cuisines        neighborhood
29                Greek, Mediterranean  Financial District
43              Mediterranean, Turkish     Pacific Heights
53                Greek, Mediterranean        Hayes Valley
97   Mediterranean, Tapas/Small Plates  Financial District
190      Mediterranean, Middle Eastern  Financial District
252             Mediterranean, Turkish         Mission Bay
609           Mediterranean, Wine Bars            Nob Hill
618                      Mediterranean         South Beach
871                      Mediterranean                NoPa
956                      Mediterranean      Lower Nob Hill

Recommender 2 Result:
---------------------------
['The Progress', 'Beit Rima', 'Mourad Restaurant', 'Liholiho Yacht Club', 'a Mano', 'Capo’s by Tony Gemignani', 'Palette Tea House', 'Flour + Water', 'Akiko’s Restaurant', 'Montesacro Pinseria SF']

Recommender 3 Result:
---------------------------
['Hong Kong Clay Pot Restaurant', 'Pharaohs Mediterranean Sandwiches', 'Los Kuyas', 'The Slanted Door', 'Sweet Lime Thai Cuisine', 'Sumac', 'Izakaya Yoki', 'Indian Paradox', 'Mochica', 'Sichuan Home']

In [60]:
import pandas as pd

cols = ['userid']

reviews_df = pd.read_csv('data/reviews.csv', encoding='utf-8', engine='python')
reviews_df

,Unnamed: 0,userid,restaurant_id,review,date,stars,Useful,Funny,Cool
0,0,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,this place is the best!!No matter which item I...,2/4/2020,5.0,0.0,0.0,1.0
1,1,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,"In town for a brief visit, this was the closes...",12/24/2019,3.0,0.0,0.0,0.0
2,2,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Second time here. Atmosphere was great to sta...,12/21/2019,2.0,0.0,0.0,0.0
3,3,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Came here to meet an old friend and had a very...,NaN,2.0,2.0,2.0,2.0
4,4,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Came here for a late lunch/early dinner on our...,2/17/2020,5.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
773792,773647,eTRi_f87l8qSPFextMc7nA,5e55bbc53296483cf92470ad,I was visiting from Seattle and this was a gre...,11/27/2011,4.0,2.0,0.0,2.0
773793,773648,amAsp2VAt7bg-foYAL3qlw,5e55bbc53296483cf92470ad,About a dozen of us kind of spontaneously deci...,12/5/2011,5.0,2.0,0.0,1.0
773794,773649,JIexYpPMsorzTdF_CUk-eg,5e55bbc53296483cf92470ad,My wife and I heard all the GREAT raves recent...,1/21/2012,5.0,1.0,0.0,1.0
773795,773650,P-NKOxoJqr9j9Pq2ipXp7w,5e55bbc53296483cf92470ad,"Clean, classy, pleasant surroundings, very war...",2/9/2012,4.0,0.0,0.0,1.0
773796,773651,z7fJY6_Mxg0t-HaXBpL8IQ,5e55bbc53296483cf92470ad,A very welcome addition to the area. Great foo...,11/21/2011,5.0,1.0,0.0,0.0

In [30]:
import csv
with open(r'data/reviews.csv', 'rb') as f:
    reader = csv.reader(f)
    linenumber = 1
    try:
        for row in reader:
            linenumber += 1
    except Exception as e:
        print(linenumber)
#         print (("Error line %d: %s %s" % (linenumber, str(type(e)), e.message)))

1

In [52]:
reviews_df

Dask DataFrame Structure:
              Unnamed: 0  userid restaurant_id  review    date    stars Useful  Funny   Cool
npartitions=9
                   int64  object        object  object  object  float64  int64  int64  int64
                     ...     ...           ...     ...     ...      ...    ...    ...    ...
...                  ...     ...           ...     ...     ...      ...    ...    ...    ...
                     ...     ...           ...     ...     ...      ...    ...    ...    ...
                     ...     ...           ...     ...     ...      ...    ...    ...    ...
Dask Name: from-delayed, 27 tasks